[2016-04-28 12:09] FabioAntunes opened #1 "Add completions to nvm"
Right now nvm doesn't have completions

[2016-04-28 12:11] bucaran commented on #1
@FabioAntunes Would you <http://join.fisherman.sh>.

[2016-05-05 09:17] bjmin opened #2 "It won't load nvm automatically, only if I trigger the function __nvm_run"
I believe that loading nvm.sh after intialization would be better,
otherwise It won't inject or modify necessary ENV VARIABLES into global, like `$PATH`, where stores some global dependencies installed by NPM. Only I can access the bin after type `node` or `nvm`, it's annoying, right?

[2016-05-05 09:23] bjmin commented on #2
And I figured out one solution, is that add `bass source $NVM_DIR/nvm.sh` to `config.fish`

[2016-05-05 09:24] FabioAntunes commented on #2
That's the point, sourcing nvm everytime you open a new terminal will slow it down by a couple of seconds, this plugins only sources nvm when you run `nvm`, `npm` or `node` if you want it to be runnig whenever you open the terminal just add this to your config.fish

[code]

[2016-05-05 09:42] bjmin commented on #2
yep.. I noticed that before.. actually, it's much slower
is that caused by `bass` process?
anyway, thanks the code!

[2016-05-05 09:54] FabioAntunes commented on #2
The biggest problem is in nvm itself, more info in https://github.com/creationix/nvm/issues/860 and https://github.com/creationix/nvm/issues/703

Of course sourcing bash code in fish adds a couple of milliseconds

[2016-05-05 10:00] bucaran commented on #2
@bjmin If you are not constrained to using nvm (like company rule, etc), I recommend you https://github.com/fisherman/fin.

[2016-05-05 14:28] bjmin commented on #2
@bucaran thx~.. though i'm looking for a more native way to install Node, i'll give a try!

[2016-05-05 14:29] #2 closed

[2016-05-05 14:41] bucaran commented on #2
@bjmin I could be completely wrong, and please @FabioAntunes correct me if I am wrong, but I see little benefit to building from source unless you actually want to fiddle with the source, in which case, sure go ahead :)

[2016-06-12 14:12] IvanWei opened #3 "npm' packages installed to global that couldn't find them."
bower installed to global, fish known bower. When I restart fish that didn't know bower.

[2016-06-12 16:09] brj commented on #3
@IvanWei Hi! I can't help you with this plugin so you'll need to talk to @FabioAntunes

In the meantime, check out [fnm](https://github.com/fisherman/fnm) or [verman](https://github.com/fisherman/verman) which I maintain and are known to work with global modules.

[2016-06-13 11:42] FabioAntunes commented on #3
@IvanWei nvm isn't being sourced on shell init, so unless you run nvm or npm first on your terminal, bower won't be recognized.

You could create a `bower.fish` in your functions folder inside `~/.config/fish` and then paste this:

function bower -d "Package manager"
  __nvm_run "bower" $argv
end

But as @brj said, try  [fnm](https://github.com/fisherman/fnm) or [verman](https://github.com/fisherm

[2016-06-14 08:15] IvanWei commented on #3
@FabioAntunes Thank you! 😄

I know this idea, but it isn't convenient.
if many packages installed to global that need create more fish files.

[2016-06-14 09:07] FabioAntunes commented on #3
@IvanWei If you really want to be able to run global packages you can source nvm on shell init, but be prepared to see a delay of some seconds. You can read more about that in this issue https://github.com/fisherman/nvm/issues/2

[2016-06-14 09:07] #3 closed

[2016-06-18 13:19] nomaed opened #4 "Autocomplete for NPM is outputting "garbage" when nvm plugin is installed"
Originally opened as a fish-shell issue: https://github.com/fish-shell/fish-shell/issues/3152

---
After installing the `nvm` plugin, I get garbage printed out when trying to get auto-completions for npm.
Removing `nvm` plugin makes everything work fine.

---
Operating system: OS X El Capitan 10.11.5 (15F34)
Fish version: 2.3.0
Fish installed: using the official DMG.
Fish location: /usr/local/bin/

[2016-06-18 13:28] FabioAntunes commented on #4
Thanks for reporting the issue I will take a look during the weekend.

[2016-06-18 13:31] nomaed commented on #4
Thanks.
Just wanted to let you know that if I install `omf` nvm, it works well.
Also, I tried installing only `bass`, following the advice from here https://github.com/creationix/nvm/issues/303#issuecomment-121086278
[code]
was enough to make everything work without the whole nvm package.

[2016-06-18 13:40] FabioAntunes commented on #4
You don't need this plugin at all, as you said just putting that on your config.fish is enough. What I don't like is if you do that slows your shell initiation by a couple of seconds, because it sources nvm everytime. That's why I created this plugin, to only source nvm when you use npm, or node or nvm

[2016-06-18 14:02] nomaed commented on #4
If I add this as a new file, `nvm.fish` in the functions directory, shouldn't it do the same - source nvm only when the command is actually called?

[2016-06-19 15:32] brj commented on #4
@nomaed Can you use a different plugin manager or do you have to use nvm?
Some people have to use nvm, so this exists, but as you can see setting it up requires knowledge and some work which is why [fnm](https://github.com/fisherman/fnm) also exists.

[2016-06-19 15:50] nomaed commented on #4
@brj I want to use nvm. I need to test stuff on different node versions and it makes the job much easier than I would be otherwise.

[2016-06-19 16:06] nomaed commented on #4
So, I installed fnm (`fisher install fnm`), got the latest node.
Now I'm getting this as an output for `npm<Tab>` on Ubuntu 16.04:

[code]

╰▶ fish -v
fish, version 2.3.0
╰▶ fnm -v
fnm v1.8.0
╰▶ fisher -v
fisherman version 2.10.0 ~/.config/fish/functions/fisher.fish
╰▶ npm -v
3.10.1
╰▶ nvm -v
No command 'nvm' found

[2016-06-19 16:12] brj commented on #4
Btw fnm has nothing to do with nvm.

I was able to repro the problem with npm<TAB> completions.

It does seem to work okay with verman though. Would you mind trying out verman too and see if npm completions work okay? That would help me determine this is a problem with how fnm creates the npm shim.

[2016-06-19 16:15] brj commented on #4
With verman

<img width="1280" alt="screenshot 2016-06-20 01 15 25" src="https://cloud.githubusercontent.com/assets/8317250/16178491/809114b4-3684-11e6-9f7a-07c831cb8c3f.png">

[2016-06-19 16:17] brj commented on #4
I think the problem may be simply that fnm's npm shim is not inheriting npm completions. This should be doable adding `--wraps=npm` to the function definition, maybe.

[2016-06-19 16:24] FabioAntunes commented on #4
I think it has to do with fish-shell npm completions https://github.com/fish-shell/fish-shell/blob/master/share/completions/npm.fish

[2016-06-19 16:57] #4 closed

[2016-06-22 10:10] FabioAntunes commented on #4
@nomaed It seems after all that the problem was not with the plugin, but with the official completions from fish shell, you can read more about it here https://github.com/fish-shell/fish-shell/pull/3159

And the commit that fixes it https://github.com/fish-shell/fish-shell/commit/10661bb024cd87fdb5452b86fcc74a58f7f678f1 :

The next release of fish shell will have the completions fixed but until th

[2016-06-22 10:20] nomaed commented on #4
That is great, thank you for following it up!

[2016-06-27 14:17] #1 closed

[2016-09-24 16:20] chamini2 opened #8 "npm installed packages don't work untill node is ran"
When opening a new shell session before running any npm installed command I have to run node first:

[code]

[2016-09-26 10:26] FabioAntunes commented on #8
Sourcing nvm on shell init, delays it's initial start by almost two seconds, you can read more about that here https://github.com/fisherman/nvm/issues/3 and https://github.com/fisherman/nvm/issues/2

[2016-09-26 10:26] #8 closed

[2016-12-30 13:17] FabioAntunes opened #9 "Support yarn and other global functions"
Support `yarn` and allow users to create their own functions for other global packages.

[2017-01-03 09:56] #9 closed

[2017-01-05 19:09] jiaweihli opened #11 "Default version / .nvmrc not working"
Not sure why this is happening - `nvm` works well normally, but it's a pain to manually select a specific version every time.

A new shell starts up with a node version of 'none'.
I've manually set a default version through `nvm` and verified that it works correctly in bash.

I don't have a custom `$NVM_DIR`.

[2017-01-05 19:55] FabioAntunes commented on #11
Thanks @jiaweihli, will have a look and let you know.

[2017-01-05 23:22] Lordnibbler commented on #11
same problem!

[2017-01-06 02:44] jbucaran commented on #11
@jiaweihli Just a reminder that there is also:

* https://github.com/fisherman/fnm
* https://github.com/fisherman/verman

I use verman personally.

[2017-01-06 10:30] FabioAntunes commented on #11
@jiaweihli have you tried running `nvm alias default 6.9.0` this will set yoru default node version to 6.9.0 whenver you open a new terminal?

@Lordnibbler  why are you putting the `.nvmrc` on your home path `~/` ? that file should be inside your project folder. Let's imagine you are working on project that requires a very specific node version, let's say `v4.4.4` you would do soething like this:

[2017-01-06 19:25] jiaweihli commented on #11
@FabioAntunes Yes, I've done that and it works correctly in bash - but not in fish.

[2017-01-06 23:18] jiaweihli commented on #11
It does work correctly if I set `nvm use default` in `~/.config/fish/config.fish`, but this adds an extra 1 second overhead to every new terminal.

[2017-01-07 04:01] jbucaran commented on #11
@FabioAntunes Correct me if I am wrong, but isn't this precisely how nvm works? The tradeoff is between this extra second on every terminal or the manual extra step to run nvm oneself before using node.

[2017-01-07 10:45] FabioAntunes commented on #11
@jbucaran That's why I created this so whenever you use `node`, `npm`, `nvm` and now also `yarn`, it checks if there's a node already sourced, if not either source a local `.nvmrc` or source the default alias.

@jiaweihli I'm really sorry, but are you sure you have `nvm` properly installed? I have been using this since day one and I have never had any problems. I also have a couple of friends who

[2017-01-24 22:06] jiaweihli commented on #11
Sorry for radio silence.  I've tried installing fisherman nvm as well as nvm, no luck.
At this point I'm just eating the extra manual work 😞

Let me know if there's any logs I can send you that would help you debug this.

[2017-01-25 03:17] jbucaran commented on #11
@jiaweihli Installing fisherman again will not fix anything, since fisherman is just a single function that goes into your ~/.config/fish/functions directory. There's nothing special or antyhing that deviates from standard fish, so perhaps there is an issue with your fish? :)

Can you try using fnm / verman and let me know if the problem goes away?

[2017-02-03 20:21] fanaugen commented on #11
I have the exact same problem as @jiaweihli. [`fnm`](https://github.com/fisherman/fnm) works fine, but I was kind of hoping to be able to continue using NVM, because I use it on bash also.

If I understand @jbucaran’s [comment above](#issuecomment-271060986) correctly, the 1 second that it takes NVM to run seems inevitable anyway? I certainly experience a 1 second lag when starting up bash, where

[2017-02-03 23:24] jbucaran commented on #11
@fanaugen I'm a bit confused. This is fisherman/nvm. This plugin is so you can keep using nvm with fish. Since, that was a pain, I made fnm, which does things differently, but also supports .nvmrc to ease with the migration.

Then, I made verman which is even simpler, and it's what I personally use.

@FabioAntunes Is nvm/node for you? Might want to upgrade your fish to 2.5 to see if anything break

[2017-02-04 13:13] fanaugen commented on #11
Sorry for creating confusion. I was just trying to say that, as @jiaweihli pointed out, fisherman/nvm doesn’t "remember" the node version used across shell sessions. To reproduce:

- type `nvm alias default stable`, then `nvm use default`, then `node --version` → this will report the node version installed by NVM and aliased with `stable`
- but as soon as you open a new fish session, `node --versi

[2017-04-11 22:13] balupton commented on #11
this worked fine for me:

[code]

then again in a new terminal:

[code]

[2017-05-24 15:15] tanc commented on #11
I also have this problem where opening a new shell will not switch to the default node version. I've uninstalled and re-installed nvm and fisher nvm but its still not working.

Following the steps that @balupton mentioned above I also get a working node version, but not the version I have specified as my default when I used `nvm alias default lts/argon`

New terminal always shows:
[code]

Then I h

[2017-05-24 15:34] FabioAntunes commented on #11
This is getting really frustrating, I'm not able to reproduce this on my
machine. I'm going to format my machine during the weekend and with a fresh
install, maybe I will be able to reproduce this.

On 24 May 2017 at 16:15, Tanc <notifications@github.com> wrote:

[2017-05-25 10:33] FabioAntunes commented on #11
@tanc can you do me a favour? Run `echo $PATH` and paste the output please.

[2017-05-25 10:43] tanc commented on #11
[code]

[2017-05-25 11:43] FabioAntunes commented on #11
@tanc can you also run `which node` on a freshly opened terminal

@jiaweihli @Lordnibbler @fanaugen

Sorry for this late request, if you guys are still using this Package, could you guys run `echo $PATH` on a fresh fish terminal, but make sure you guys remove any cheating code like this:

[code]

[2017-05-25 13:18] tanc commented on #11
[code]

[2017-05-25 13:25] FabioAntunes commented on #11
Ok, I discovered your problem @tanc, you have node installed outside of nvm, that makes node global available. So since you already have node onr your $PATH, `fish-nvm` doesn't source `nvm`. One solution is either uninstalled it and just use nvm, or wait a couple of days.  I'm working on fix for this, so even if node exists we always source `nvm`

[2017-05-25 13:27] tanc commented on #11
Fantastic, thanks @FabioAntunes

I'll wait a couple of days and test your fix :)

[2017-05-29 14:38] #11 closed

[2017-05-29 14:40] FabioAntunes commented on #11
@tanc run `fisher update nvm` and give it a try

[2017-05-29 14:55] tanc commented on #11
Brilliant! Works great after update

[2017-05-30 19:24] jiaweihli commented on #11
This removed the delay-on-new-terminal issue I was having as well, but I noticed an issue:

[code]

It looks like the node switching logic has been moved to the first instance of running `node` on the command line.  I notice the same delay when I run `node --version` for the first time, but not the second time.

If you're running a shell/python script that calls out to node, it might not be using

[2017-05-31 10:25] FabioAntunes commented on #11
Yep that's the point, to only source node when we need.

You can either keep doing what you were doing, source nvm on shell init. Or you can create a command called node on some directory of yours.

[code]

Edit the file and paste this:
[code]
Add this line to your config.fish `set -g -x PATH ~/mycommands $PATH`

You can do it manually or by just running this
[code]

[2017-06-19 20:05] saneef commented on #11
Also, in the freshly loaded shell. The globally installed packages for `default` will be missing; unless run `node` or `nvm use default` once.

[2017-09-07 01:42] richardpringle commented on #11
Hey guys,

I'm on nvm 0.33.2 and I installed nvm through the zsh plugin. Default works fine, nvm use works fine, but the .nvmrc file does not work.

I have a bunch of node versions all over the place so that might be my problem but when I call `node`, it's definitely using the version supplied by nvm.

any ideas?

[2017-09-07 09:30] FabioAntunes commented on #11
@richardpringle  check if in any of these files `~/.bash_profile`, `~/.zshrc`, `~/.profile`, or `~/.bashrc`

nvm is being autoloaded, this is the bit that does that:
[code]

if so you need to remove that.

[2017-09-08 14:54] richardpringle commented on #11
@FabioAntunes, thanks for the response!

I just realized that I'm in the fisherman/nvm instead of creationix/nvm... woops!

It actually appears as though I needed to call `nvm use` (with no arguments) once in the folder with the `.nvmrc` file and it started working after that.

^^^
I guess this is for anyone who stumbles upon this issue from a google search even if you aren't using fisherman.

[2017-09-14 04:20] kevingelion commented on #11
I'm having this issue and I'm a bit confused. I've removed any instance of nvm sourcing from the files mentioned above and it doesn't seem to change anything.

I currently can't even call `which` when I first open my shell. Calling `node --version` prints out `6.9.2` which is what I would expect, but calling `which` only works if I have `nvm use default` in my `config.fish`.

[2017-09-14 17:21] richardpringle commented on #11
I actually soft linked to the same node version as my default alias in `/usr/local/bin` so I can still use `node` from other terminals. I believe the reason that `which node` isn't working for you is because the `node` command doesn't actually call an executable directly, it calls a shell function that uses `nvm` path variables to figure out which executable can be called.

I'm sure one of the oth

[2017-10-26 04:00] NathanJang opened #16 "Running nvm with no arguments causes error message from test"
I have fisher, nvm, and bass installed. NVM works just fine, except when I just run it with no arguments:

[code]

with exit code 0. Note the error messages at the end. Maybe there's an array indexing error? I've already tried reinstalling fisher, bass, and fisherman/nvm.

It's not a big deal; it works just fine otherwise. Thanks!

[2017-10-26 10:10] #16 closed

[2018-03-16 12:32] lukiano commented on #11
Is there any update on this issue? On a new shell, if I go to a folder with _.nvmrc_, calling _node_ loads the correct version (as specified in that file), but if then I go to another folder with _.nvmrc_ pointing to a different version, executing _node_ does not switch to that version, I have to execute _nvm use_ first.

[2018-03-16 12:41] FabioAntunes commented on #11
@lukiano that's the default behaviour check https://github.com/creationix/nvm#deeper-shell-integration

If you want you can create some sort of script that listens for folder changes and checks if there's a `.nvm`

[2018-04-20 14:41] hanoii opened #25 "Shouldn't the default node binaries be in the path on shell load?"
I just noticed that when I start the shell, I can run node, but not gulp.

global binaries are not on the path

as soon as I run `node --version` or the like, I can run gulp.

What should be the way to properly set this?

[2018-05-04 09:58] FabioAntunes commented on #25
Just try reading the readme file?

[2018-05-04 09:58] #25 closed

[2018-10-06 10:44] rmi7 opened #27 "bass.py error"
just freshly installed this plugin through `fisher`,

however when after restarting the terminal (iTerm on MacOS Mojave) and typing in `nvm`, I get back:

`python: can't open file '/Users/my-username/.config/fish/functions/__bass.py': [Errno 2] No such file or directory`

Tried installing `edc/bass` using `fisher`, but still the same error (even after iTerm restart)

any help much appreciated

[2018-10-06 10:58] FabioAntunes commented on #27
What's your fish and fisher versions

[2018-10-06 11:46] FabioAntunes commented on #27
@rmi7 can you try removing `edc/bass` and install `FabioAntunes/bass`

[2018-10-06 11:52] rmi7 commented on #27
just did, still the exact same output

[2018-10-06 12:39] rmi7 commented on #27
solved it by downgrading to `fisher 2.13.0`, since other plugins were also giving me trouble, thanks fro looking into this on such short notice

[2018-10-06 12:42] FabioAntunes commented on #27
no worries could you give your feedback on https://github.com/jorgebucaran/fisher/issues/456

[2018-10-06 12:59] rmi7 commented on #27
well I'm no expert on how fisher internally works so don't know what to add, but I'm glad to see that there is active discussion regarding this issue 👍

[2018-10-06 13:01] FabioAntunes commented on #27
If you could post at least the packages that failed for you, that would be great

[2018-10-06 13:10] rmi7 commented on #27
the other ones had different kinds of failures, likely related to package itself not being updated to work with fisher `v3`, so highly doubt they should be in that same issue.

but here they are:
- working after install, but not after restarting terminal (reinstalling starts this loop again, works until terminal restart) --> `fzf`
- could not find package because there was no github account prefix

[2018-10-06 13:10] jorgebucaran commented on #27
@rmi7 No worries! jorgebucaran/fisher#456 is a non-technical discussion. We're trying to figure out whether is a good idea or not. The technical aspect is an after-thought.

[2019-01-04 08:38] jorgebucaran opened #31 "How does fish-nvm compare to fast-nvm-fish?"
@FabioAntunes 👋

I'm trying to improve the Awesome Fish list and noticed both this package and @brigand's [fast-nvm-fish](https://github.com/brigand/fast-nvm-fish) are [**nvm**](https://github.com/creationix/nvm) wrappers (require nvm to be previously installed) and I was wondering how does one compare to the other. I plan to include both in the list, but I don't want to repeat myself.

This is wh

[2019-01-04 11:47] FabioAntunes commented on #31
So the main difference is that, https://github.com/brigand/fast-nvm-fish partially uses nvm, it's not actually a nvm wrapper because it manipulates the PATH instead of letting nvm doing it.

As fish-nvm is a wrapper around nvm, it's just a set of alias that allows you to delay the sourcing of nvm until is actually used.

The main issue with nvm being slow is that, when it's manipulating the path i

[2019-01-04 13:13] jorgebucaran commented on #31
@FabioAntunes Thank you!! I'll describe them as follows. Hope it's fine.

- brigand/**fast-nvm-fish** - Enhanced nvm wrapper optimized for speed
- FabioAntunes/**fish-nvm** - Completion-rich, true nvm wrapper

[2019-01-04 13:13] #31 closed

[2019-02-11 00:51] ahasall opened #32 "Infinite loop / infinite recursion"
Hello,

First of all thank you for this package. It has been useful to me.

Since fish 3.0, I am encountering an issue where fish is sourced indefinitely.
This happen when I run commands that are added to `/usr/local/bin/` by `nvm_alias_command`.

It seems like the problem is related to `__nvm_run`. Also, when I comment the `__nvm_run` command in `/usr/local/bin/node` for instance, a new fish shel

[2019-02-11 10:39] FabioAntunes commented on #32
I haven't tested this on fish 3.0, thanks for submitting this I will have a look as soon as possible.

[2019-02-11 15:46] ahasall commented on #32
Thank you very much. If there is anything I can do to assist you, please let me know.

[2019-02-16 14:58] FabioAntunes commented on #32
I was not able to reproduce the loop problem, but I did found a bug on the `nvm_alias_command` because `omf` doesn't symlink files, running `nvm_alias_command` without any args would create commands with the current content of the folder where the function was running.

![screenshot 2019-02-16 at 14 52 59](https://user-images.githubusercontent.com/2544673/52901411-07449c00-31fb-11e9-82fb-67298a179

[2019-02-16 18:31] ahasall commented on #32
I never ran `nvm_alias_command` without argument.

I have also found that I had duplicate functions after  running the `nvm_alias_command`:
For example I had `npm.fish` in `/usr/local/bin` and the same in `$OMF_PATH/pkg/fish-nvm`.

For now, I have uninstalled `fish-nvm` and use `edc/bass` because I have a talk to give on February 21th. I will come back to you after that date.

Maybe you can also s

[2019-02-18 15:58] FabioAntunes commented on #32
This is my Dockerfile

[code]

Not sure if you are familiar with docker, but basically you just need to run this on the same folder where the Dockerfile is:

[code]

Run a detached docker container

[code]

Run

[code]

You should be getting a container id, then ssh into that container, replace `{CONTAINER_ID}` with your container id.

[code]

have fun

[2019-02-24 03:23] jorgebucaran commented on #32
@FabioAntunes Does this problem also happen with [Fisher](https://github.com/jorgebucaran/fisher)?

/cc @ahasall

[2019-02-24 11:07] ahasall commented on #32
@jorgebucaran, I didn't try it with Fisher.

[2019-02-24 11:08] jorgebucaran commented on #32
@ahasall Well, good luck with that!

[2019-02-24 11:18] ahasall commented on #32
Thank you @jorgebucaran, is Fisher compatible with Fish 3 ?

[2019-02-24 11:19] jorgebucaran commented on #32
Sure, but I'm curious, what made you wonder it wasn't?

[2019-02-24 11:19] jorgebucaran commented on #32
@ahasall Yes, it is, but I'm curious, what made you wonder it wasn't?

[2019-02-24 11:24] ahasall commented on #32
Because Fish 3 was released not so long time ago. I also see on Fisher's Readme that it supports Oh My Fish packages. I will have a look into Fisher. Currently I am using Oh My Fish.

[2019-02-25 12:08] FabioAntunes commented on #32
Nah, at leat I have been using fisher and fish-nvm and never had an issue.

[2019-02-25 23:36] FabioAntunes commented on #32
But @ahasall before you decide to move to fisher, help me debug this on omf, so we can help future users.

[2019-02-26 22:28] ahasall commented on #32
@FabioAntunes, no problem.
I will try to reproduce this issue on my Linux Mint. (I am using macOS for now)

[2019-02-26 23:02] ahasall commented on #32
I have been able to reproduce the problem inside a Docker container.
[code]

[2019-02-27 14:59] FabioAntunes commented on #32
Fixed by #33 just update fish-nvm. thanks for reporting this @ahasall

[2019-02-27 14:59] #32 closed

[2019-03-14 11:19] gubikmic opened #34 "Can't launch node REPL anymore"
Hi, I'm stuck with the following error message that came up out of nowhere. I didn't even change anything that I remember but I can't launch a `node` REPL anymore:

What works is `env node` and also launching a bash and then `node`.

I just reinstalled fisher, nvm, and fish-nvm but that didn't help.

Any ideas?

[2019-03-14 12:18] FabioAntunes commented on #34
I have never experienced that, will need more info.

Open a brand new terminal session and do:

[code]

Then do:

[code]

Then do:

[code]

post the results here.

After all of that can you also can you try to install a new node version and then doing `nvm use VERSION_YOU_INSTALLED`

[2019-03-14 14:04] gubikmic commented on #34
Thanks for your reply! Here's what I get:

[code]

If I add an older node version and `nvm use` it, then the REPL works as expected.

[2019-03-14 14:56] FabioAntunes commented on #34
Basically node repl is broken in nodejs from versions 11.10 and 11.11 for fish. If you install node from source you will be getting the same problem. Has nothing to do with fish-nvm.

[2019-03-14 15:04] FabioAntunes commented on #34
I have created an issue here https://github.com/nodejs/node/issues/26663  feel free to follow that.

[2019-03-14 22:42] FabioAntunes commented on #34
Found the issue it turns out it's actually on me.

[2019-03-14 22:46] FabioAntunes commented on #34
Fixed on the latest version, just pull latest version

[2019-03-14 22:46] #34 closed

[2019-03-15 04:30] gubikmic commented on #34
Awesome, thank you for the speedy fix!

[2019-03-21 04:45] huuanh1987 commented on #34
internal/modules/cjs/loader.js:651
    throw err;
    ^

Error: Cannot find module 'prompt'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:649:15)
    at Function.Module._load (internal/modules/cjs/loader.js:575:25)
    at Module.require (internal/modules/cjs/loader.js:705:19)
    at require (internal/modules/cjs/helpers.js:14:16)
    at Object.<anonymous> (/usr/local/lib/

[2019-03-21 04:46] huuanh1987 opened #35 "Error: Cannot find module 'prompt'"
internal/modules/cjs/loader.js:651
    throw err;
    ^

Error: Cannot find module 'prompt'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:649:15)
    at Function.Module._load (internal/modules/cjs/loader.js:575:25)
    at Module.require (internal/modules/cjs/loader.js:705:19)
    at require (internal/modules/cjs/helpers.js:14:16)
    at Object.<anonymous> (/usr/local/lib/

[2019-03-21 10:07] FabioAntunes commented on #35
try updating to the latest version of `fish-nvm`

When is this happening? When you run `node` REPL

[2019-03-24 21:14] pgilad opened #36 "Fish nvm: 'node' is currently not installed, try running npm i -g node"
Getting `Fish nvm: 'node' is currently not installed, try running npm i -g node` everytime I try to run `node` in a new sub-shell.

Nothing critical changed on my part, I think it's a recent change on this plugin:

[code]

[code]

[code]

[2019-03-24 22:53] FabioAntunes commented on #36
Thanks @pgilad will have a look as soon as possible

[2019-03-26 07:55] gubikmic opened #37 "Breaks `which`?"
Not sure whether this is due to fish-nvm, but somehow my `which` command is broken.

[code]

[2019-03-26 16:11] FabioAntunes commented on #37
Sorry not getting, when you run `which git` you get `env: node: No such file or directory`?

[2019-03-26 16:37] FabioAntunes commented on #36
Can you actually do a `ls -la ~/.config/fish/functions/`

[2019-03-27 03:21] gubikmic commented on #37
Yes, correct

[2019-03-27 10:33] FabioAntunes commented on #37
That's weird..

If you do `which which` what do you get? Unless your which command has been replaced by some npm package I have no idea why you're getting this

[2019-03-27 11:36] gubikmic commented on #37
[code]

yeah, super weird.

[2019-03-27 12:44] FabioAntunes commented on #37
ok try

[code]

[2019-03-29 08:45] gubikmic commented on #37
[code]

[2019-03-29 10:49] FabioAntunes commented on #37
Can you do

[code]

because `which` path normally is under `/usr/bin/which`

[2019-03-29 10:50] gubikmic commented on #37
Yes, it's quite weird
[code]

[2019-03-29 11:21] FabioAntunes commented on #37
that's because your which is no the real which. It's https://github.com/npm/node-which.

And fish-nvm delays sourcing nvm, until you actually use one of the commands or functions https://github.com/FabioAntunes/fish-nvm/tree/master/functions

You can either remove that file and use the native which or you could try running this:

[code]

[2019-03-29 11:29] gubikmic commented on #37
Thanks, I just deleted the node-which, no idea how it got there.

[2019-03-29 12:10] FabioAntunes commented on #37
Glad it's sorted out!

[2019-03-29 12:10] #37 closed

[2019-04-13 10:37] ahasall opened #38 "Autocomplete is very slow"
Hi,

Autocompletion works on Fish 3 but is very slow.

Checkout this [asciinema](https://asciinema.org/a/QwEpU8gQFme7e4ZaGcywAdD16) showing the issue

Thank you

[2019-04-15 11:03] FabioAntunes commented on #38
Hey @ahasall is that only on the first run? If you open a new session. try to do autocomplete, it will be slow. try to do it again. Will it be faster?

The first run will always be slower, due to the sourcing of nvm on the fly. After the first sourcing, you should have a normal speed.

[2019-04-18 08:52] pgilad commented on #36
[code]

[2019-04-19 15:56] ahasall commented on #38
It happens all the time not only at startup.

[2019-04-26 18:56] eh-am opened #39 "Update Docs"
Currently there's a section suggesting `fnm`:

But in reality `fnm` doesn't support that anymore, so it should be removed
https://github.com/jorgebucaran/fish-nvm/issues/58#issuecomment-452573419

[2019-04-27 18:55] pgilad commented on #36
I think this occurs when I start the shell in a directory where `.nvmrc` exists, and has a version that isn't locally installed. The `nvm use` command then returns (silently) something like:
[code]

[2019-04-27 21:37] FabioAntunes commented on #39
Feel free to create a PR

[2019-04-27 21:38] FabioAntunes commented on #36
Amazing! thanks will try to fix this.

[2019-04-28 22:59] eh-am commented on #39
sure, do you wanna keep the section or remove it entirely?

[2019-08-31 12:38] FabioAntunes commented on #35
Closing this, feel free to re open it if you still have this issue

[2019-08-31 12:38] #35 closed

[2019-09-01 13:39] #39 closed

[2019-10-09 04:25] SferaDev opened #40 "Breaks reverse search plugin"
I have fish in two machines and either installing before or after, fish-nvm breaks https://github.com/jbonjean/re-search.

[2019-10-22 16:15] stv8 opened #41 "Quesiton about lazy loading and the`init_nvm` event"
I am a new fish user and first off thanks for the plugin!

I've been trying to find a way to lazy load on a new shell, but I can't seem to find where the event `init_nvm` is emitted in the function in `init.sh`.

I _think_ I found a work-around where I can lazy load nvm in fish. What do you think?

- I changed the event in `init.fish` to `load_nvm` (this seemed to prevent it from running on new sh

[2019-10-22 16:17] stv8 commented on #41
oops, wrong repo!

[2019-10-22 16:17] #41 closed

[2019-10-22 16:19] stv8 commented on #41
I meant to post this in the omf nvm plugin repo

[2019-11-09 17:20] #36 closed

[2019-12-19 07:42] wlnirvana opened #45 "nvm.sh must be linked/copied to $HOME/.nvm"
The brew formula leaves `nvm.sh` at `$(brew --prefix nvm)/nvm.sh` without linking it to`~/.nvm/nvm.sh`. Consequently, the following code fails to source the file properly.

[code]

[2019-12-19 22:35] FabioAntunes commented on #45
Brew is not the official way to install `nvm` but if still insist in doing so, just add: `set -gx NVM_DIR  (brew --prefix nvm)/nvm.sh` to your `config.fish`

[2020-02-11 22:39] osbre opened #46 "Usage with "fundle""
[Instruction: how to install this package with fundle]

Run:

[code]

Add these lines to `~/.config/fish/config.fish`

[code]

[2020-05-04 05:18] alx365 opened #48 "Node prints all output first when quitting the program"
I'm not sure if its an issue with this application, but i don't know where else to start.

As i already said in the title, (not all) node and npm commands that are not quitting automatically because they are finished executing, are first logging their stuff when i quit the application with ctrl+c.
I can't reproduce the behavior with bash.

If this is the wrong place to post this, maybe you could g

[2020-07-01 17:15] FabioAntunes commented on #48
@alx365 apologies for the lack of response didn't get notified of this. Could you give me one example of one command that has this behaviour so I can try and reproduce this locally? Thanks and once again apologies for the 2 month delay

[2020-07-01 18:56] alx365 commented on #48
np, umm, i think the issue has resolved itself. at least i am not anymore experiencing it. I have no idea what i changed.

[2020-07-01 18:56] #48 closed

[2020-07-19 19:09] lordlycastle opened #49 "Error when using any nvm's node"
I get following error whenever I run `npm/node --version` after `nvm use v8/12/3`. I don't get this error when I do `nvm use system`/`nvm unload`.

[code]

What could be the cause? I have both latest `fish` and `fish-nvm`.

[2020-07-21 08:45] lordlycastle commented on #49
After investigation I found out that it was happening because I had a wrapper for `which` and that was being called instead of `command which...`.

[2020-07-21 08:51] lordlycastle commented on #49
Guess it can't be expected to call `command <command> <argv>` everywhere, just in case someone has a wrapper.... 😞

[code]

[2020-07-21 08:51] #49 closed

[2020-08-13 15:04] #46 closed

[2020-08-13 15:11] FabioAntunes commented on #49
Apologies for not answering soon, for some reason I didn't get an email with this.
Could you share your `which` wrapper? maybe there's a way to use wrapper

[2020-08-13 15:14] #38 closed

[2020-08-13 15:14] #40 closed

[2020-09-26 13:30] c10b10 commented on #38
I can confirm this happens to me as well.

[2020-09-26 13:32] c10b10 opened #51 "Autocomplete very slow."
I can confirm the issue described in #38 happens to me as well. It's slow all the time. Type `nvm install` and then hit Tab.

[2021-03-03 08:15] torbjornvatn opened #55 "type: Invalid combination of options"
In version 3.2.0 of fish `type -fqP` fails with the error `type: Invalid combination of options`

https://github.com/FabioAntunes/fish-nvm/blob/b532e737a620c54e2f47d28130819c0ab51e53e0/functions/__nvm_run.fish#L21

[2021-03-03 08:37] lowgos commented on #55
This broke my environment too.
Had this error on every node related command. Had to downgrade to fish 3.1.2.

[2021-03-03 09:50] faho commented on #55
From the `type` documentation, going back to fish 2.7:

`-q` asks to print no output, `-p` asks to print the path. That doesn't make sense,  but the old type function had a bug that ignored it.

This should probably just be `type -fq $argv[1]` or probably `command -sq $argv[1]`- you are interested in checking a *command* if I understand correctly. The latter has the nice side effect of being faste

[2021-03-03 16:11] nathan-gilbert commented on #55
Addressed in #54

[2021-03-03 16:53] #55 closed

[2021-03-03 16:54] FabioAntunes commented on #55
Apologies for the delay, for some reason I hadn't notifications, turned on! Thanks for the fix @nathan-gilbert

[2021-03-03 17:18] FabioAntunes commented on #55
@faho I wrote this a long time ago, but I think the use case was:
`-P or --force-path returns the path to the executable file NAME, presuming NAME is found in $PATH, or nothing otherwise. --force-path explicitly resolves only the path to executable files in $PATH, regardless of whether $NAME is shadowed by a function or builtin with the same name.`

Because some names are shadowed, but I'm not int

[2021-03-03 17:44] faho commented on #55
@FabioAntunes It should not. `type -f` *already* only checks commands, the `-P` only causes it to *print the path*. (yes, that "-f" is called "--no-functions" is unfortunate, honestly you want `command -sq` or in 3.2 just `command -q`)

It should be `type -fq` or `command -sq`.

`type -p` will print nothing if the first thing it finds is not a command. `type -P` will go on until it finds a command

[2021-03-04 11:44] CasperEngl opened #56 "How to uninstall?"
There's currently no description on how to uninstall. After removing `~/.nvm` I receive the following error:
[code]

[2021-03-04 13:16] FabioAntunes commented on #56
How did you install fish-nvm? fisher? omf?

[2021-03-05 04:32] fogelfish commented on #55
Since this is closed does that mean an update is just around the corner?  I'm asking because I'd like to decide if I should downgrade fish? Or wait X days for fish-nvm to be patched?  Or do you know if there another temp workaround? [Fish shell, nvm, is telling me that node and npm are “currently not installed” but they are](https://stackoverflow.com/questions/66464067/fish-shell-nvm-is-telling-me

[2021-03-05 05:13] faho commented on #55
@fogelfish https://github.com/FabioAntunes/fish-nvm/releases/tag/1.4.2

[2021-04-08 07:17] nicolaturcato opened #57 "Fish 3.2.2 update issue"
Hi there!
Since last update of Fish to v3.2.2 this error appears:

[code]

[2021-04-08 07:19] FabioAntunes commented on #57
Thanks I will take a look asap

[2021-04-08 07:20] nicolaturcato commented on #57
@FabioAntunes thanks Fabio!
Restarting iTerm made it work again. But would be nice if you can have a look at it.

[2021-04-21 10:00] kiuKisas opened #58 "Auto nvm use when detecting .nvmrc ?"
Hello, thank's for your plugin, really appreciate it. I was wondering if an easy way exist to automaticly call `nvm use` when I'm in my project folder with an `.nvmrc` file describing the current version of node needed for this project ?
Thank's :)

[2021-04-22 13:17] FabioAntunes commented on #58
Hey, @kiuKisas.

Not sure if I understood your question correctly. Do you want to call `nvm use` as soon as you enter a folder that has a `.nvmrc`? Is that it?

[2021-04-22 13:19] kiuKisas commented on #58
Yeap, that's what I mean, sorry if I have not been clar

[2021-04-22 13:49] FabioAntunes commented on #58
I can only think of two ways. Using a post_exec command on your config.fish

[code]

The other option could be messing around with your https://fishshell.com/docs/current/tutorial.html#prompt

[code]

[2021-04-22 13:50] #56 closed

[2021-05-29 13:14] ColCh commented on #57
I have fish issue on 3.2.2 too :( just like #54

<details>
<summary>Details</summary>

<pre>
~/D/Workspace $ nvm use v14                                             16:12:12
Now using node v14.17.0 (npm v6.14.13)
~/D/Workspace $ node                                                    16:12:14
type: Invalid combination of options
Fish nvm: 'node' is currently not installed, try running npm i -g nod

[2021-06-04 08:11] #58 closed

[2021-08-05 22:36] rrrodzilla commented on #36
Hi,

I recently did a software update on Manjaro and now my Fish installation has gone awry.  I'm seeing the exact same error message above.  In fact, the error message seems to have ended up somehow in the PATH (see below). Any pointers on how to troubleshoot this?  Thanks.

[code]

[2021-08-05 23:00] rrrodzilla commented on #36
I tried all kinds of things before I posted the issue above.  I should have tried an uninstall/reinstall of nvm, which succeeded in resolving my issue.  :man_shrugging:

[2022-01-17 10:24] #57 closed

[2022-01-17 10:24] nicolaturcato commented on #57
All good.

[2022-03-31 01:06] zoltan-magyar commented on #51
I get the following error when I try to tab `nvm install `:

[code]

[2022-05-26 14:20] PegasisForever opened #61 ".nvmrc should be searched by traversing the directory tree up"
fish-nvm should include parent directories when searching .nvmrc.

For example:
[code]

Somewhere related: jorgebucaran/nvm.fish#45

[2022-06-26 09:29] Omar-Belghaouti opened #62 "alias command is not defined"
Trying to run:

[code]

The output is:

[code]

The `alias` command is not defined in the fish shell, however it is defined in zsh.

[code]

[code]

[2022-06-26 09:33] Omar-Belghaouti commented on #62
Had to remove the current plugin and install it again with `fisher` again. Now it contains all necessary commands.

[2022-06-26 09:33] #62 closed